body{
    background-color: black;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tablero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}

h1, p{
    color: white;
}

h1{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 45px;
}

p{
    text-align: center;
    margin-top: 5%;
    font-size: 35px;
}

.cabecera{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cabecera-div2{
    margin: 2%;
}

.divAvatar{
    /*max-width: 20%;*/
    display: block;
    justify-content: center;
}

.imgAvatar{
    width: 300px;
    height: 450px;
}

.reset-button{
    margin-right: 60%;
    font-size: 30px;
    width: 100%;
}

.luchar-button{
    margin-left: 40%;
    margin-top: 5%;
    font-size: 40px;
    width: 10%;
    height: 100px;
}

.avatar-seleccionado{
    width: 30%;
    background-color: yellow;
    border-color: 2 px solid tomato;
}


.divDado{
    background-color: white;
    width: 30%;
    height: 70%;
    padding-left: 8%;
}

.foto-lucha{
    width: 500px;
    height: 650px;
}